
              
  
   <!--Footer-->
  
  <footer class="page-footer blue-grey lighten-1">
          <div class="container">
            <div class="row">
                <div class="col m3 s12">
                <h6 class="white-text">Somewhere University</h6>
                <ul>
                  <li><i class="fas fa-university white-text"></i><a href = "https://test.sd.lbg/" class = "white-text"> DUV</a> </li>
                </ul>
              </div>
              <div class="col m3 s12">
                <h6 class="white-text">Supervisor</h6>
                <ul>
                  <li>
                    <i class="fab fa-linkedin-in white-text"></i>
                    <a href="https://www.linkedin.com/" class = "white-text">
                        Some Pesrson
                    </a>
                  </li>
                   <li>
                    <i class="fas fa-envelope white-text"></i>
                    <a href="#!" class = "white-text">
                        popo@test.com
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col m3 s12">
                <h6 class="white-text">Researcher</h6>
                <ul>
                  <li>
                    <i class="fab fa-linkedin-in white-text"></i>
                    <a href="https://www.linkedin.com/" class = "white-text">
                        Lgdfr Bgafdr 
                    </a>
                  </li>
                  <li>
                    <i class="fas fa-envelope white-text"></i>
                    <a href="#!" class = "white-text">
                        Lgdfr@test.com
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col m3 s12">
                <h6 class="white-text">Researcher</h6>
                <ul>
                  <li>
                    <i class="fab fa-linkedin-in white-text"></i>
                    <a href="https://www.linkedin.com/" class = "white-text">
                        natali Hgdstr 
                    </a>
                  </li>
                   <li>
                    <i class="fas fa-envelope white-text"></i>
                    <a href="#!" class = "white-text">
                        Hgdstr@test.com
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright blue-grey darken-1">
            <div class="container center">
            &copy; 2019 
            </div>
          </div>
        </footer>
        
        


         <!--Import jQuery before materialize.js-->
          <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
          <script type="text/javascript" src="/js/materialize.min.js"></script>
          <script>
            $(document).ready(function () {
              // Custom JS & jQuery here
              
              //INIT SIDE NAV
             $('.button-collapse').sideNav();
              
               //INIT SCROLSPY
            $('.scrollspy').scrollSpy();
            
            });
          </script>
    </body>
</html>