
              
  
   <!--Footer-->
  
  <footer class="page-footer blue-grey lighten-1">
          <div class="container">
            <div class="row">
                <div class="col m3 s12">
                <h6 class="white-text">Stockholm University</h6>
                <ul>
                  <li><i class="fas fa-university white-text"></i><a href = "https://dsv.su.se/" class = "white-text"> DSV</a> </li>
                </ul>
              </div>
              <div class="col m3 s12">
                <h6 class="white-text">Supervisor</h6>
                <ul>
                  <li>
                    <i class="fab fa-linkedin-in white-text"></i>
                    <a href="https://www.linkedin.com/in/oliver-popov-3a54b4" class = "white-text">
                        Oliver Popov
                    </a>
                  </li>
                   <li>
                    <i class="fas fa-envelope white-text"></i>
                    <a href="#!" class = "white-text">
                        popov@dsv.su.se
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col m3 s12">
                <h6 class="white-text">Researcher</h6>
                <ul>
                  <li>
                    <i class="fab fa-linkedin-in white-text"></i>
                    <a href="https://www.linkedin.com/in/samira-valifakhr-825590152/" class = "white-text">
                        Samira Valifakhr 
                    </a>
                  </li>
                  <li>
                    <i class="fas fa-envelope white-text"></i>
                    <a href="#!" class = "white-text">
                        fava4537@student.su.se
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col m3 s12">
                <h6 class="white-text">Researcher</h6>
                <ul>
                  <li>
                    <i class="fab fa-linkedin-in white-text"></i>
                    <a href="https://www.linkedin.com/in/shahnaz-al-naqawi-aaa88726/" class = "white-text">
                        Shahnaz Al Naqawi 
                    </a>
                  </li>
                   <li>
                    <i class="fas fa-envelope white-text"></i>
                    <a href="#!" class = "white-text">
                        Shal8802@student.su.se
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright blue-grey darken-1">
            <div class="container center">
            &copy; 2019 
            </div>
          </div>
        </footer>
        
        


         <!--Import jQuery before materialize.js-->
          <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
          <script type="text/javascript" src="/js/materialize.min.js"></script>
          <script>
            $(document).ready(function () {
              // Custom JS & jQuery here
              
              //INIT SIDE NAV
             $('.button-collapse').sideNav();
              
               //INIT SCROLSPY
            $('.scrollspy').scrollSpy();
            
            });
          </script>
    </body>
</html>