
              
  
   <!--Footer-->
  
  <footer class="page-footer blue-grey lighten-1">
          <div class="container">
            <div class="row">
              <div class="col m3 s12">
                <h5 class="white-text">About</h5>
                <ul>
                  <li>About Us</li>
                  <li>Our Resume</li>
                  <li>Something</li>
                  <li>Something</li>
                </ul>
              </div>
                <div class="col m3 s12">
                <h5 class="white-text">About Prouject</h5>
                <ul>
                  <li>What is My Project</li>
                  <li>Summery</li>
                  <li>Something</li>
                </ul>
              </div>
                <div class="col m3 s12">
                <h5 class="white-text">Contact Us</h5>
                <ul>
                  <li>some thing</li>
                  <li>Something</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright blue-grey darken-1">
            <div class="container">
           Projectname<span></span> &copy; 2019 
            <a class="grey-text text-lighten-4 right" href="#!">Terms & Conditions</a>
            </div>
          </div>
        </footer>
        
        


         <!--Import jQuery before materialize.js-->
          <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
          <script type="text/javascript" src="/js/materialize.min.js"></script>
          <script>
            $(document).ready(function () {
              // Custom JS & jQuery here
        
            });
          </script>
    </body>
</html>