<% include partials/header %>

 <!-- Header -->
  <header class="main-header">
    <nav class="transparent grey lighten-4">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Thesis Questionnaire</a>
          <a href="#" data-activates="mobile-nav" class="button-collapse">
            <i class="fa fa-bars"></i>
          </a>
          <ul class="right hide-on-med-and-down">
           <% if(!currentUser){ %>
            <li>
              <a href="/register" class="btn blue-grey lighten-3">Sign Up</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
           <% } else { %>
            <li>
              <a href="#!" class = "active-link">About</a>
            </li>
            <li>
              <a href="/consentform">Consent Form</a>
            </li>
            <li>
              <a href = "#!" class = "blue-text">Signed In As <span class = "purple-text accent-3"><%= currentUser.username %></span></a></li>
            <li>
              <a href="/logout" class="btn blue-grey lighten-3">Logout</a>
            </li>
           <% } %>
          </ul>
          <ul class="side-nav" id="mobile-nav">
            <h4 class="purple-text text-darken-4 center">Thesis Questionnaire</h4>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="/">
                <i class="fa fa-home grey-text text-darken-4"></i> Home</a>
            </li>
            <li>
              <a href="/about">
                <i class="fa fa-cog grey-text text-darken-4"></i> About</a>
            </li>
            <li>
              <a href="/register">
                <i class="fa fa-users grey-text text-darken-4"></i> Sign Up</a>
            </li>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="/login" class="btn blue-grey">Login</a>
            </li>
            <li>
              <a href="/logout" class="btn blue-grey">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   
  
  <!--Section :  About-->
  <section class="section section-about">
      <div class="container">
          <div class="row">
              <div class="col s12 m5">
                <div style = "height: 400px" class = "valign-wrapper">
                  <h4 class = "blue-grey-text">
                    Conceptual Model of Intrusion detection and Prevention System
                  </h4>
                </div>
              </div>
              <div class="col s12 m6 offset-m1">
                  <div class="row">
                    <div class="col s12">
                      
                    </div>
                    <div id="tab1" class="col s12">
                        <p>The thesis aims to design a conceptual model of Intrusion detection and prevention system with integration of threat intelligence capabilities. The IDPS detects the host-based threats -the botnet. Presently, the cybercrime rate and malicious activities on cyberinfrastructure are increasing adversely, which motivate the security community towards the researching mechanisms that can mitigate these threats. So, the conceptual model of IDPS with threat intelligence capabilities has been proposed which helps the organisations to detect and prevent these threats from cybercriminals.</p>
                        <p>
                          Intelligence Intrusion detection systems refer to any technology or strategy that allows us to detect the attempted compromise of system and information, and preserve the CIA of the information and infrastructures. Hence, to develop the artefact, some basic requirements and fundamental concepts were extracted from academic publications. Further, researchers have realised that the security experts’ knowledge and opinions would be vital for more feasibility and practicability of the conceptual model. The artefact has different components such as design, collection and processing, analysing input data (signature detection mechanism, anomaly detection mechanism) that is based on the threat intelligence lifecycle as seen in the attached design model. Once the threat is detected, it will be mitigated by the Security team. Further, the security team will make a report based on the identified threats, and an alert is also sent to the customer. A questionnaire is designed to gather further requirements from the experts to develop complete artefact of IDPS.
                        </p>

                    </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  
  <!-- Chart -->
  <section class="section section-chart scrollspy">
   <div class="container">
     <h4 class="center">
              <span class="teal-text">Intrusion Detection & Prevention System</span> 
          </h4>
     <div class="row">
       <div class="col s12">
          <img src="/img/Intelligence.jpg" class = "materialboxed responsive-img" width = "80%" 
        data-caption = "This is my awesome photo">
       </div>
     </div>
   </div>
  </section>
    



<% include partials/footer %>