<% include partials/header %>

 <!-- Header -->
  <header class="main-header">
    <nav class="transparent grey lighten-4">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Project Name</a>
          <a href="#" data-activates="mobile-nav" class="button-collapse">
            <i class="fa fa-bars"></i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a class="active-link" href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/signup" class="btn blue-grey lighten-3">Sign Up</a>
            </li>
            <li>
              <a href="#">Login</a>
            </li>
            <li>
              <a href="https://linkedin.com">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://instagram.com">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-nav">
            <h4 class="purple-text text-darken-4 center">Project Name</h4>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="/">
                <i class="fa fa-home grey-text text-darken-4"></i> Home</a>
            </li>
            <li>
              <a href="/about">
                <i class="fa fa-cog grey-text text-darken-4"></i> About</a>
            </li>
            <li>
              <a href="/signup">
                <i class="fa fa-users grey-text text-darken-4"></i> Sign Up</a>
            </li>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="#" class="btn purple">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   
  
  <!--Section :  About-->
  <section class="section section-about">
      <div class="container">
          <div class="row">
              <div class="col s12 m5">
                <h2>What We Do ...</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis provident magni ipsum, a tempora nesciunt impedit, dicta excepturi veniam ab obcaecati nemo laudantium, ut mollitia odit voluptatem nam exercitationem praesentium at quibusdam, consequatur voluptates! Vitae suscipit, sunt esse inventore, adipisci beatae. Aut doloribus iure, repudiandae nam temporibus aliquid libero ullam. Repudiandae odit excepturi, dolor aliquam perspiciatis consequatur distinctio, reiciendis quaerat molestiae. Consectetur vero magni, qui? In, repudiandae modi omnis assumenda facere pariatur sed saepe sapiente, eligendi commodi libero aut molestias quas eos mollitia ad vitae placeat doloremque minima iure. Eaque explicabo sequi aspernatur expedita ratione! Deserunt veritatis ratione est vel?</p>
              </div>
              <div class="col s12 m6 offset-m1">
                  <div class="row">
                    <div class="col s12">
                      <ul class="tabs">
                        <li class="tab col s4 "><a class = "blue-grey-text" href="#tab1">The First Part Of Research</a></li>
                        <li class="tab col s4"><a class = "blue-grey-text" href="#tab2">The Second Part Of Research</a></li>
                        <li class="tab col s4"><a class = "blue-grey-text" href="#tab3">The Third Part Of Research</a></li>
                      </ul>
                    </div>
                    <div id="tab1" class="col s12">
                        <h5>The First Part Of Research</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa nisi sed, iusto aut! Nemo tempora officia beatae qui modi, mollitia culpa. Dolor nam expedita nobis recusandae modi aperiam consequuntur, laudantium in repellendus tempora neque consequatur perferendis, facilis porro aliquam dolorum. Adipisci ipsa illo deleniti totam, ipsam quasi tempore! Iste impedit, non tenetur id cupiditate eveniet aut, hic delectus, voluptas accusamus architecto possimus dignissimos quis commodi quas optio repellendus expedita! Atque nam officia ea nesciunt iure modi magnam laboriosam, rerum, aliquam reiciendis sed itaque earum aut veniam possimus ad doloremque deleniti inventore sequi architecto fuga voluptatem assumenda repellat? Ipsam iusto similique, commodi quibusdam provident, inventore numquam quos laudantium saepe assumenda dicta.</p>
                    </div>
                    <div id="tab2" class="col s12">
                        <h5>The Second Part Of Research</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi possimus ratione quae, quos dolorum, alias sed impedit sequi, optio error ipsum. Quod a ducimus tenetur, id aspernatur voluptate quasi quaerat quibusdam hic aliquam. Eius nisi ullam labore quae quis itaque doloribus inventore ducimus omnis odio nesciunt voluptate accusantium, sequi iusto molestias ut possimus delectus error esse tempora molestiae. Architecto odit accusantium sit, consectetur explicabo dicta voluptate enim accusamus fuga eos. Sapiente quae nesciunt excepturi asperiores eum at amet ipsam quis est ipsum labore illo sunt qui, quidem cupiditate cum in aliquid blanditiis tempore adipisci laboriosam. Vero, voluptatibus ipsa ratione earum doloremque. Provident voluptate accusantium voluptatibus minus quae deleniti rem debitis sit perferendis saepe, dolores iusto, repudiandae dolorem ab temporibus consequatur!</p>
                    </div>
                    <div id="tab3" class="col s12">
                        <h5>The Third Part Of Research</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque libero, debitis placeat corporis delectus, eveniet, quasi accusamus tenetur quia assumenda praesentium pariatur veritatis quae tempora. Nesciunt, magni. Omnis, quis ipsum. Neque nam vero facere molestiae sed? Ex, corporis ea aliquam. Quae numquam veniam cupiditate unde reprehenderit nihil fugit voluptatibus facilis dolorem maxime sed enim, nam consequuntur et id incidunt praesentium, aliquam nobis! Cupiditate earum repellendus commodi consequatur omnis praesentium itaque nobis, harum et facilis tempora, eveniet laboriosam voluptatibus iure aliquam repellat aperiam cum aut, voluptatem adipisci nihil. In sequi nam impedit, reprehenderit officiis hic, at eaque quas ipsa pariatur fugit ipsam, sunt sint! Doloremque culpa corporis, facere cum ratione eum deserunt nesciunt porro aliquam, esse perferendis unde neque, repellendus veniam! Aut nihil modi, neque fuga eos voluptatibus, rem ipsam libero veniam doloremque voluptatum quibusdam eaque iure, rerum vel vero perferendis!</p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  
  


<% include partials/footer %>