<% include partials/header %>


  <!-- Header -->
  <header class="main-header">
    <nav class="transparent grey lighten-4">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Thesis Questionnaire</a>
          <a href="#" data-activates="mobile-nav" class="button-collapse">
            <i class="fa fa-bars"></i>
          </a>
          <ul class="right hide-on-med-and-down">
           <% if(!currentUser){ %>
            <li>
              <a href="/register" class="btn blue-grey lighten-3">Sign Up</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
           <% } else { %>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="#!" class = "active-link">Consent Form</a>
            </li>
            <li>
              <a href = "#!" class = "blue-text">Signed In As <span class = "purple-text accent-3"><%= currentUser.username %></span></a></li>
            <li>
              <a href="/logout" class="btn blue-grey lighten-3">Logout</a>
            </li>
           <% } %>
          </ul>
          <ul class="side-nav" id="mobile-nav">
            <h4 class="purple-text text-darken-4 center">Thesis Questionnaire</h4>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="/">
                <i class="fa fa-home grey-text text-darken-4"></i> Home</a>
            </li>
            <li>
              <a href="/about">
                <i class="fa fa-cog grey-text text-darken-4"></i> About</a>
            </li>
            <li>
              <a href="/register">
                <i class="fa fa-users grey-text text-darken-4"></i> Sign Up</a>
            </li>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="/login" class="btn blue-grey">Login</a>
            </li>
            <li>
              <a href="/logout" class="btn blue-grey">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   
    
    
    
     <section class="section section-about grey lighten-1">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h5>Research<span class = "deep-purple-text text-darken-1"> Topic</span></h5>
          <h4>Improvement of <span class = "blue-grey-text text-darken-1"> Threat management of Network and ISPs</span></h4>
        </div>
      </div>
    </div>
  </section>
    
    
    
  
    
    <!--Section Consenttab-->
    
    <section class="section section-consentcontent">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <!-- TABBED CARD 1 -->
                      <div class = "card-content">
                        <h5>Consent Form</h5>
                        <p>If you have any questions concerning your participation in this research study, please contact us.</p>
                      </div>
                      <div class="content">
                        <blockquote>
                        <p class = "flow-text">Researcher Identity</p>
                            <p>Shahnaz Al Naqawi</p>
                            <p>Fatemeh Valifakhr</P>
                            <p>Master of Computer and System Sciences, Stockholm University</p>
                            <p>
                               <a href = "#!">
                                   <i class="material-icons grey-text">email</i>
                                   Shal8802@student.su.se</a>
                            </p>
                            <p>
                                <a href = #!>
                                    <i class="material-icons grey-text">email</i>
                                    fava4537@student.su.se</a>
                            </p>
                            </blockquote>
                            <br><br>
                            
                            <blockquote>
                               <p class = "flow-text">Purpose of the study</p>
                               <p>This research aims to design a conceptual model that integrates threat intelligence capabilities to detect host-based Botnet attacks. It can monitor and assess threats, catch invaders and take action in real time to foil such attacks (defence in depth) which firewall or antivirus might miss.Requirement elicitation should be done to address the research problem before designing a conceptual model. Hence, you as an expert invited to engage in the interview to participate in this research study and provide your opinion. The thesis is carried out within the framework of the Master thesis with 30 higher education credits.</p>
                            </blockquote> 
                            <br><br>
                            
                            <blockquote>
                               <p class = "flow-text">Your participation in the study</p>
                               <p>You will be asked to participate in interview which will take around 1 hour. The questions will be regarding the participant background and the views about the challenges and issues faced by the organisation in terms of the host-based botnet attacks and how threat intelligence capabilities can be integrated that helps the organisations to defend against such attacks. There will be no personal questions. </p>
                            </blockquote> 
                            <br><br>
                            
                            <blockquote>
                                <p class = "flow-text">Benefits</p>
                                <p>Participation in this research study is voluntary. There is no known risk involved to take part in this study, but it will significantly contribute to the researcher and help the organisations to detect and prevent the Botnet threats intelligently and keep themselves secure. The participant is asked to engage in an interview and can cancel their participation at any time. There is no monetary compensation paid to the participant but if participant desire a digital copy can be provided after the completion of the thesis. </p>
                            </blockquote> 
                            <br><br>
                            
                            <blockquote>
                              <p class = "flow-text">Confidentiality</p>
                                <p> The data collected from the participant will be kept confidential; it will not address your identity; an unauthorised person will not have access to data. The collected data is used in this research study only not for any other purpose.</p>
                            </blockquote> 
                            <br><br>
                            
                            <blockquote>
                              <p class = "flow-text">Consent</p>
                                <p>By signing this consent, the participant voluntarily contributes to this research study and understood the purpose of the study, understood data is stored and collected for this research only. </p>
                            </blockquote> 
                            <br><br>
                      </div>
                  </div>
                </div>
              </div>
    </section>
    
    
     <section class="section section-about grey lighten-4 center">
    <div class="container">
      <div class="row">
        <div class="col s12">
           <a href="/question" class="btn btn-large  white teal-text waves-effect waves-teal btn-extend">I Agree</a>
          <a href="/" class="btn btn-large  white red-text waves-effect waves-red btn-extend ">I Disagree</a>
        </div>
      </div>
    </div>
  </section>





  
  <!--Footer-->
  

        
        <!--Login Modal-->
        <div id="login-modal" class="modal">
          <div class="modal-content">
            <h4>Account Login</h4>
            <p>Login to access your account dashboard</p>
            <form>
              <div class="input-field">
                <input type="email" id="email">
                <label for="email">Email</label>
              </div>
               <div class="input-field">
                <input type="password" id="password">
                <label for="password">Password</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close btn grey">
              <i class="fa fa-sync"></i> Reset Password</a>
               <a href="#!" class="modal-action modal-close btn purple">
              <i class="fa fa-lock"></i> Login</a>
          </div>
        </div>
            
  


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      
      $('.carousel.carousel-slider').carousel({fullWidth : true});
      $('.button-collapse').sideNav();
      $('.modal').modal();
      $('select').material_select();
      
    });
    
    
    
  </script>
</body>

</html>

<% include partials/footer %>