<% include partials/header %>


  <!-- Header -->
  <header class="main-header">
    <nav class="transparent grey lighten-4">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Thesis Questionnaire</a>
          <a href="#" data-activates="mobile-nav" class="button-collapse">
            <i class="fa fa-bars"></i>
          </a>
          <ul class="right hide-on-med-and-down">
           <% if(!currentUser){ %>
            <li>
              <a href="/register" class="btn blue-grey lighten-3">Sign Up</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
           <% } else { %>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="#!" class = "active-link">Consent Form</a>
            </li>
            <li>
              <a href = "#!" class = "blue-text">Signed In As <span class = "purple-text accent-3"><%= currentUser.username %></span></a></li>
            <li>
              <a href="/logout" class="btn blue-grey lighten-3">Logout</a>
            </li>
           <% } %>
          </ul>
          <ul class="side-nav" id="mobile-nav">
            <h4 class="purple-text text-darken-4 center">Thesis Questionnaire</h4>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="/">
                <i class="fa fa-home grey-text text-darken-4"></i> Home</a>
            </li>
            <li>
              <a href="/about">
                <i class="fa fa-cog grey-text text-darken-4"></i> About</a>
            </li>
            <li>
              <a href="/register">
                <i class="fa fa-users grey-text text-darken-4"></i> Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   
    
    
    
     <section class="section section-about grey lighten-1">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h5>Research<span class = "deep-purple-text text-darken-1"> Title</span></h5>
          <h4>Lorem ipsum dolor <span class = "blue-grey-text text-darken-1"> Blidsf kpaum njlar</span></h4>
        </div>
      </div>
    </div>
  </section>
    
    
    
  
    
    <!--Section Consenttab-->
    
    <section class="section section-consentcontent">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <!-- TABBED CARD 1 -->
                      <div class = "card-content">
                        <h5>Consent Form</h5>
                        <p>If you have any questions concerning your participation in this research study, please contact us.</p>
                      </div>
                      <div class="content">
                        <blockquote>
                        <p class = "flow-text">Researcher Identity</p>
                            <p>natali Hgdstr</p>
                            <p>Lgdfr Bgafdr</P>
                            <p>Master of Computer and System Sciences,LD University</p>
                            <p>
                               <a href = "#!">
                                   <i class="material-icons grey-text">email</i>
                                   Lgdfr@test.com</a>
                            </p>
                            <p>
                                <a href = #!>
                                    <i class="material-icons grey-text">email</i>
                                    Hgdstr@test.com</a>
                            </p>
                            </blockquote>
                            <br><br>
                            
                            <blockquote>
                               <p class = "flow-text">Purpose of the study</p>
                               <p>This research aims to Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quibusdam quidem expedita. Perspiciatis, modi eum ullam voluptates ipsa, sequi nihil asperiores doloremque quia facere iste aspernatur praesentium. Hic, quaerat, et. Voluptatem sequi ab aspernatur eos, error, quasi dolores fugiat minima recusandae est suscipit molestias veniam, neque debitis tempore. Magni ut qui nobis suscipit mollitia iste, aliquam possimus atque reiciendis distinctio rerum, cumque ratione quasi incidunt. Nam, debitis, voluptate. Quidem ipsam magni autem totam consectetur incidunt sint praesentium cum quaerat, pariatur ut odit exercitationem, et voluptas reprehenderit temporibus est similique fugiat!</p>
                            </blockquote> 
                            <br><br>
                            
                            <blockquote>
                               <p class = "flow-text">Your participation in the study</p>
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum consequuntur natus molestias blanditiis exercitationem, vel earum quisquam facere deserunt unde modi repudiandae quod et quia error, odit deleniti perspiciatis asperiores dolore eligendi dolorum enim dolor officia nostrum! Suscipit explicabo soluta inventore a, pariatur at, excepturi cupiditate quibusdam quis blanditiis reiciendis illum quia eveniet libero veniam rerum aliquam doloribus. Ratione quam, fugit animi aliquid neque sapiente dolores ab ipsa eveniet necessitatibus! </p>
                            </blockquote> 
                            <br><br>
                            
                            <blockquote>
                                <p class = "flow-text">Benefits</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quidem iure ipsa maxime id, atque ducimus earum dolore natus totam ipsum nesciunt facilis distinctio sapiente nobis voluptas odit modi aliquid reiciendis eligendi iusto obcaecati pariatur porro ut, inventore? Odio, magnam rem! Sunt illum, quam optio dignissimos neque ratione asperiores iusto autem veniam quis labore suscipit, tempora. Ipsa, pariatur, est. Sapiente! </p>
                            </blockquote> 
                            <br><br>
                            
                            <blockquote>
                              <p class = "flow-text">Lorem ipsum</p>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis tenetur corporis nam inventore, nihil, vitae suscipit hic consequuntur! Quis dignissimos soluta, ratione nesciunt ducimus quibusdam similique nobis fugit, numquam laborum asperiores in amet ea eos sint perferendis nulla repellat, animi.</p>
                            </blockquote> 
                            <br><br>
                            
                            <blockquote>
                              <p class = "flow-text">Consent</p>
                                <p>By signing this consent, the participant voluntarily contributes to this research study and understood the purpose of the study, understood data is stored and collected for this research only. </p>
                            </blockquote> 
                            <br><br>
                      </div>
                  </div>
                </div>
              </div>
    </section>
    
    
     <section class="section section-about grey lighten-4 center">
    <div class="container">
      <div class="row">
        <div class="col s12">
           <a href="/question" class="btn btn-large  white teal-text waves-effect waves-teal btn-extend">I Agree</a>
          <a href="/" class="btn btn-large  white red-text waves-effect waves-red btn-extend ">I Disagree</a>
        </div>
      </div>
    </div>
  </section>





  
  <!--Footer-->
  

        
        <!--Login Modal-->
        <div id="login-modal" class="modal">
          <div class="modal-content">
            <h4>Account Login</h4>
            <p>Login to access your account dashboard</p>
            <form>
              <div class="input-field">
                <input type="email" id="email">
                <label for="email">Email</label>
              </div>
               <div class="input-field">
                <input type="password" id="password">
                <label for="password">Password</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close btn grey">
              <i class="fa fa-sync"></i> Reset Password</a>
               <a href="#!" class="modal-action modal-close btn purple">
              <i class="fa fa-lock"></i> Login</a>
          </div>
        </div>
            
  


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      
      $('.carousel.carousel-slider').carousel({fullWidth : true});
      $('.button-collapse').sideNav();
      $('.modal').modal();
      $('select').material_select();
      
    });
    
    
    
  </script>
</body>

</html>

<% include partials/footer %>