<% include partials/header %>


  
   <!-- Header -->
  <header class="main-header">
    <nav class="transparent grey lighten-4">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Thesis Questionnaire</a>
          <a href="#" data-activates="mobile-nav" class="button-collapse">
            <i class="fa fa-bars"></i>
          </a>
          <ul class="right hide-on-med-and-down">
           <% if(!currentUser){ %>
            <li>
              <a href="/register" class="btn blue-grey lighten-3">Sign Up</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
           <% } else { %>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/consentform">Consent Form</a>
            </li>
            <li>
              <a href = "#!" class = "blue-text">Signed In As <span class = "purple-text accent-3"><%= currentUser.username %></span></a></li>
            <li>
              <a href="/logout" class="btn blue-grey lighten-3">Logout</a>
            </li>
           <% } %>
          </ul>
          
          <!-- Side Nav-->
          
          <ul class="side-nav" id="mobile-nav">
            <h4 class="purple-text text-darken-4 center">Thesis Questionnaire</h4>
            <li>
              <div class="divider"></div>
            </li>
             <% if(currentUser){ %>
            <li>
              <a href="/">
                <i class="fa fa-home grey-text text-darken-4"></i> Home</a>
            </li>
            <li>
              <a href="/about">
                <i class="fa fa-cog grey-text text-darken-4"></i> About</a>
            </li>
            <li>
              <a href="/consentform">Consent Form</a>
            </li>
            <li>
              <a href="/logout" class="btn blue-grey lighten-3">Logout</a>
            </li>
            <% } else { %>
            <li>
              <a href="/login">
                <i class="fa fa-users grey-text text-darken-4"></i> Login</a>
            </li>
            <li>
              <a href="/register">
                <i class="fa fa-users grey-text text-darken-4"></i> Sign Up</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

 
    <!-- Showcase -->
    <section class="section section-showcase">
      <div class="showcase container">
      <div class="row">
        <div class="col s12 m10 offset-m1 center">
          <h1>Please Sign Up </h1>
          <h5>To answer the questions</h5>
          <br>
          <br>
          <a href="/register" class="btn btn-large blue-grey white-text">Sign Up</a>
        </div>
      </div>
    </div>
    </section>
    
  </header>
  

  

 


<% include partials/footer %>