<% include partials/header %>


  <!-- Header -->
  <header class="main-header">
    <nav class="transparent grey lighten-4">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Project Name</a>
          <a href="#" data-activates="mobile-nav" class="button-collapse">
            <i class="fa fa-bars"></i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a class="active-link" href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/register" class="btn blue-grey lighten-3">Sign Up</a>
            </li>
            <li>
              <a href="#">Login</a>
            </li>
            <li>
              <a href="https://linkedin.com">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://instagram.com">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-nav">
            <h4 class="purple-text text-darken-4 center">Project Name</h4>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="/">
                <i class="fa fa-home grey-text text-darken-4"></i> Home</a>
            </li>
            <li>
              <a href="/about">
                <i class="fa fa-cog grey-text text-darken-4"></i> About</a>
            </li>
            <li>
              <a href="/register">
                <i class="fa fa-users grey-text text-darken-4"></i> Sign Up</a>
            </li>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="#" class="btn purple">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Showcase -->
    <div class="showcase container">
      <div class="row">
        <div class="col s12 m10 offset-m1 center">
          <h5>Welcome To My Project Questionnarias</h5>
          <h1>Please Do Something </h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit fugit deserunt quos provident aliquam inventore.</p>
          <br>
          <br>
          <a href="/register" class="btn btn-large blue-grey white-text">Sign Up</a>
        </div>
      </div>
    </div>
  </header>
  

  

 


<% include partials/footer %>