 
 <% include partials/header %>
 
 
  <!-- Header -->
  <header class="main-header">
    <nav class="transparent grey lighten-4">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Thesis Questionnaire</a>
          <a href="#" data-activates="mobile-nav" class="button-collapse">
            <i class="fa fa-bars"></i>
          </a>
          <ul class="right hide-on-med-and-down">
           <% if(!currentUser){ %>
            <li>
              <a href="/register" class="btn blue-grey lighten-3">Sign Up</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
           <% } else { %>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href = "#!" class = "blue-text">Signed In As <span class = "purple-text accent-3"><%= currentUser.username %></span></a></li>
            <li>
              <a href="/logout" class="btn blue-grey lighten-3">Logout</a>
            </li>
           <% } %>
          </ul>
          <ul class="side-nav" id="mobile-nav">
            <h4 class="purple-text text-darken-4 center">Thesis Questionnaire</h4>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="/">
                <i class="fa fa-home grey-text text-darken-4"></i> Home</a>
            </li>
            <li>
              <a href="/about">
                <i class="fa fa-cog grey-text text-darken-4"></i> About</a>
            </li>
            <li>
              <a href="/register">
                <i class="fa fa-users grey-text text-darken-4"></i> Sign Up</a>
            </li>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="/login" class="btn blue-grey">Login</a>
            </li>
            <li>
              <a href="/logout" class="btn blue-grey">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    
    
    
     <section class="section section-about grey lighten-1">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3>Please Answer The Questions</h3>
      </div>
    </div>
  </section>
    
    
    
 
 <!--Section : Qestion-->
 
 <section class="section section-question">
     <div class="container">
         <div class="row"> 
             <div class="col s12">
                <div class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-0">
                    <form  action = "/question" method = "POST"  name = "myform">
                      <h5 class = " cyan-text accent-3 ">Section 1: Background</h5>
                        <p name = "answ">Please introduce yourself and describe your education, employment background</p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey
                        ">
                        <br><br>
                        <h5 class = " cyan-text accent-3 ">Section 2: Requirements for designing the Conceptual model</h5>
                        <p class = "flow-text deep-purple-text accent-2">a. Threat Intelligence</p>
                        <p>1- What is the core business of your organisation?</p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                         <br><br>
                         <p>2- From which location, the threat has come from? e.g., other country. </p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                         <br><br>
                        <p>3- What kind of threats does your organisation fear most? E.g. DDOS, Phishing, spamming and credential fraud?</p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                         <br><br>
                        <p>4- What type of threat actor targeting your organisation?</p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                        <br><br>
                         <p>5- What kind of intelligence feed will be used by the organisation if taken from external resources? For, e.g., feed from security communities, ISAC’s</p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey ">
                        <br><br>
                         <p>6- What kind of data feed is used in your organisation, i.e. Technical, Strategic and tactical and operational threat intelligence?</p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                        <br><br>
                         <p>7- How frequently is the data feed updated in your organisation?</p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                        <br><br>
                        <p class = "flow-text deep-purple-text accent-2">b. Intrusion Detection and Prevention system</p>
                        <p>1- What are the Challenges and issues faced by the Network security expert in terms of network threat/attacks and their detection?</p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                         <br><br>
                         <p>2- What are the requirements that should be considered to design an IDPS system? </p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                         <br><br>
                         <p>3- What attributes/features a conceptual IDPS should have to detect and prevent the network threats? </p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                         <br><br>
                         <p>4- When designing a conceptual model with threat intelligence capabilities, how requirements shall be taken into account and what requirements need to be prioritized? </p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                         <br><br>
                         <p>5- Which data do you think is more useful to detect host-based threats? The data coming from file systems, network events, log files, system calls, system commands and audit records. </p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                         <br><br>
                         <p>6- Which modelling language and software you suggest to be used in designing the intelligent conceptual model? </p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                         <br><br>
                         <p>7- Do you think integration of threat intelligence capabilities to detect network threat will be beneficial for the organizations? </p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                         <br><br>
                         <p class = "flow-text deep-purple-text accent-2">c. Machine learning</p>
                        <p>1- Are you familiar with machine learning algorithms for signature based or anomaly-based detection system?
                        <li>If yes, can you name some and specify which one is the best and relevant to host-based IDPS in your opinion?</li>
                        <li>If not, we would like to present Random forest and Support vector machine algorithm based on research papers which proved to have best features, to detect the threats with high accuracy results and low false positives.</li>
                        </p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                          <br><br>
                         <p>2- For our conceptual model, do you think these are practically appropriate or not? Do you have any other suggestions? </p>
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
                        </div>
                        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
                    </form>
                </div>
                <!--<p><a href = "/answer" class = "btn  blue-grey white-text right"> View Answer</a></p>-->

             </div>
         </div>
     </div>
 </section>
 
   <section class="section section-about grey lighten-1">
    <div class="container">
      <div class="row">
        <div class="col s12">
            <h5>Additional Comments</h5>
          <p>Please use this space for addtitional comments</p>
          <div class="input-field">
            <i class="material-icons prefix">mode_edit</i>
            <textarea name = "answ"  class="materialize-textarea" data-length="500"></textarea>
        </div>
        <input type="submit" value="SUBMIT" class = "btn btn-small blue-grey">
      </div>
    </div>
  </section>
 
 
 
 
 
 
 
 
 
 <% include partials/footer %>
 
 