
<h1>This is the answer template</h1>

<% allquestions.forEach(function(question){ %>
    <div>
        <%=question.ques %>
    </div>
     <div>
        <%=question.answ %> 
     </div>
    
<% }); %>



