.main-header {
  /*background: #e1e1d0;*/
  /*background-size: cover;*/
  /*background-position: center;*/
  /*min-height: 600px;*/
  /*color: #000;*/
}

.main-header .showcase {
  padding-top: 100px;
}

.active-link {
  color: #d847f1;
  font-weight: bold;
}

.nav-wrapper a {
  color: black;
}

blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #64b5f6; /* Just change the color value and that's it*/
}


#tab1 p {
    
  text-align: justify;
  text-justify: inter-word;

}

.footer-copyright {
    color :transparent;
     text-shadow: none;
     font-style: normal;
}

.footer-copyright span {
    
   
    display: inline-block;
    width: 78px!important;
    height: 55px!important;
    text-align: center;
    margin: 0 3px -24px 3px; 
    background-image: url(../img/salesforce.png);
    background-size: 100%;
    background-repeat: no-repeat;
}



.tabs .indicator {
    background-color: #6a1b9a!important;
}


.btn-extend {
    display : block;
    width: 100%;
}



@media(max-width: 500px){
    .section-developers,
    .section-podcast {
        min-height: 240px;
    }
}
